.pos_products {
    height: 600px; overflow: scroll;
}

.padding_container {
    padding: 0px 15px;
}
.pos_display {
    display:flex; flex-wrap: wrap;
}

.card_pos {
    min-height: 720px;
}
.card_pos_input {
    font-size: 1rem!important;
}
