* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

th,
td:nth-child(2) {
    width: 150px;
}



.d-flex{
   display:flex;
   align-items: center;
}

/* POINT - SALES **/
/* CASHOUT */
#cartTable {
    display: block;
    height: 356px;
    overflow: auto;
}

/*@media(min-height: 720px){
.cashout {
height:392px
}
#cartTable {
height: 392px;
}
}
*/


/* EVENTOS DEL CALENDARIO****/

.event {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 150px;
    bottom: 3px;
    left: calc(50% - 1.5px);
    content: " ";
    display: block;
    background: #3d8eb9;
}
.pagination {
    margin: 0px!important;
}

.text-info {
    color: #3d8eb9;
}

.event.busy {
    background: #f64747;
}

.float-right {
    float: right;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.justify-content-space-bettween {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: around;
}

.justify-content-center {
    justify-content: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

/*body {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight: 400;
overflow-x: hidden;
overflow-y: auto;
}
*/
.content {
    padding: 15px !important;
    background: #f9f9f9;
}

.content-header>h1 {
    margin: 0;
    font-size: 24px;
}

.user-panel>.info {
    font-weight: 600;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 1;
}

.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

element.style {}

.breadcrumb>.active {
    color: #777;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.img-rounded {
    border-radius: 6px;
}

img {
    vertical-align: middle;
}
.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}
.content-header>h1 {
    margin: 0;
    font-size: 24px;
}
.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}
.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

.breadcrumb>.active {
    color: #777;
}

.breadcrumb>li {
    display: inline-block;
}

.right-side>.content-header {
    position: relative;
    padding: 15px 15px 10px 10px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}

.info-box-content {}

.skin-black .left-side {
    background: #222d32;
}

.skin-black .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-black .sidebar>.sidebar-menu>li>a:hover,
.skin-black .sidebar>.sidebar-menu>li.active>a {
    color: #FFF;
    background: #222d32;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    background-color: #3d8eb9 !important;
}

.skin-green .main-header .navbar {
    background-color: #3d8eb9;
}

.skin-black .sidebar>.sidebar-menu>li:first-of-type>a {
    border-top: 0px solid #222d32;
}

.skin-black .navbar {
    background-color: #f44336;
    border-bottom: 1px solid #FFF;
}

.skin-black .logo {
    background-color: #f44336;
    color: #ffffff;
}

.skin-black .main-header .logo {
    background-color: #f44336;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-black .navbar>.content-header {
    background-color: #f9f9f9;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
}

.skin-black .header .navbar .nav>li.user>a {
    font-weight: normal;
    color: #FFFFFF;
}

.skin-black .navbar .navbar-right>.nav::hover {
    background-color: #f44336;
}

.skin-black .header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-black .logo:hover {
    background-color: #f44336;
    color: #ffffff;
}

.skin-black .sidebar-menu>li.header {
    color: #4b646f;
    background: #f9f9f9;
}

.skin-black .navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    background-color: #f44336 !important;
}

.skin-black .sidebar-menu>li.header {
    color: #ffffff;
}

.skin-black .navbar .nav>li>a:hover,
.skin-black .navbar .nav>li>a:active,
.skin-black .navbar .nav>li>a:focus,
.skin-black .navbar .nav .open>a,
.skin-black .navbar .nav .open>a:hover,
.skin-black .navbar .nav .open>a:focus {
    background: #f46236f8;
    color: #999999;
}

.skin-blue .sidebar-menu>li.header {
    color: #4b646f;
    background: #f9f9f9;
}
.bg-login {
    background-color: #f9f9f9 !important;
}
.left-side {}

/*.right-side {
background-color: #ecf0f5;
margin-left: 220px;
}*/

/*** SKIN RED ***/

.skin-red .navbar {
    background-color: #f44336;
    border-bottom: 1px solid #eee;
}

.skin-red .logo {
    background-color: #f44336;
    color: #f9f9f9;
}

.skin-red .right-side {
    background-color: #ecf0f5;
}

.skin-red .main-header .logo {
    background-color: #f44336;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-red .navbar>.content-header {
    background-color: #f44336;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
}

.skin-red .main-header .navbar {
    background-color: #f44336;
}

/** SKIN GREEN****/
.skin-green .left-side {
    background: #cececeb0;
}

.skin-green .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-green .sidebar>.sidebar-menu>li>a:hover,
.skin-green .sidebar>.sidebar-menu>li.active>a {
    color: #fbfbfbf6;
    background: #787e72b0;
}

.skin-green .main-header .navbar {
    background-color: #3d8eb9;
}
.skin-green .sidebar-form input[type="text"] {
    background-color:#cececeb0;
}
.skin-green .navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    background-color: #6dca20b0 !important;
}

.skin-green .sidebar>.sidebar-menu>li:first-of-type>a {
    border-top: 0px solid #222d32;
}

.skin-green .treeview>a {
    color: rgba(194, 190, 190, 0.938)
}

.skin-green .navbar {
    background-color: #6dca20b0;
    border-bottom: 1px solid #FFF;
}

.skin-green .logo {
    background-color: #6dca20b0;
    color: #ffffff;
}

.skin-green .main-header .logo {
    background-color: #6dca20b0;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-green .navbar>.content-header {
    background-color: #f9f9f9;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
}

.skin-green .header .navbar .nav>li.user>a {
    font-weight: normal;
    color: #FFFFFF;
}

.skin-green .navbar .navbar-right>.nav::hover {
    background-color: #caccc8e7;
}

.skin-green .header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-green .logo:hover {
    background-color: #6dca20b0;
    color: #ffffff;
}

.skin-green .sidebar-menu>li.header {
    color: #6dca20b0;
    background: #f9f9f9;
}

/** **/
.skin-green .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #c5c9c3b0;
}

.skin-green .sidebar-menu>li.header {
    color: #ffffff;
}

/*.skin-blue .right-side > .content-header {
background-color: #ecf0f5;
box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
}*/
.content {
    padding: 15px !important;
    /* background-color: #ecf0f5;*/
}

/*.skin-blue .right-side > .content-header {
background-color: #ecf0f5;
box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
}*/

/** TAbBLES WITHOUT BORDER *****/
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: 1px solid #f4f4f4;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.progress-description,
.info-box-text {
    display: block;
    font-size: 14px;
    padding: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 2px;
    margin-bottom: 15px;
}

.bg-purple {
    background-color: #605ca8 !important;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.info-box .progress .progress-bar {
    background-color: #fff;
}

.progress {
    height: 2px;
    margin-bottom: 0px !important;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.info-box-number {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 1px;
    box-sizing: border-box;
}

.progress-description,
.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-list-in-box>.item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #f4f4f4;
}

.skin-blue .header .navbar .sidebar-toggle {
    color: #fff;
}

.header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome;
}

.header .sidebar-toggle:before {
    content: "\f0c9";
}

/***************** PRODUCTS ON START PAGE - LAST PRODUCTS **********/
.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-list-in-box>.item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #f4f4f4;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.products-list>.item {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    padding: 10px 0;
    background: #fff;
}

.products-list .product-img img {
    width: 50px;
    height: 50px;
}

.products-list .product-img {
    float: left;
}

.products-list>.item:before,
.products-list>.item:after {
    content: " ";
    display: table;
}

.products-list>.item:after {
    clear: both;
}

.products-list>.item:before,
.products-list>.item:after {
    content: " ";
    display: table;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.products-list .product-img {
    float: left;
}

.products-list .product-info {
    margin-left: 60px;
}

.products-list .product-title {
    font-weight: 600;
}

.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.products-list .product-title {
    font-weight: 600;
}

.products-list .product-description {
    display: block;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*************************/
body>.header .navbar .nav>li.user>a {
    font-weight: normal;
    color: #fff;
}

body>.header .navbar .sidebar-toggle {
    float: left;
    padding: 15px 15px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.nav>li>a>img {
    max-width: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/***** ****/
@media (max-width:320px) {
    li.dropdown.user.user-menu {
        max-width: 80px;
        max-height: 57px;
        color: #c9c9c9;
    }