
.modal-content h4 {
    color: #505458;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px 0;
}
.modal-content .h4, h4 {
    font-size: 18px;
}
.modal-content .tab-content {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #777777;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-content .form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 7px 12px;
    height: 38px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.modal-content .nav.nav-tabs > li > a, .nav.tabs-vertical > li > a {
    /* background-color: transparent; */
    border-radius: 0;
    border: none;
    color: #505461 !important;
    cursor: pointer;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0.03em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal-content .btn-default {
    background-color: #5fbeaa !important;
    border: 1px solid #5fbeaa !important;
    color: #ffffff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Button for action to Modal add in modules */
.add_inmodal {
    position: fixed;
    bottom: 52px;
    right: 17px;
}
.d-none {
  display:none;
}

#load_img {  width: 210px;  margin:0 auto;}
#load_img img { width: 192px;  }

#load_img img span { width: 68px;  }
/*
#load_img img:hover { background-color: #ccc; opacity: 0.69999; background-attachment: cover; 
      background-repeat: no-repeat;
} 
*/

@media (max-width: 1024px ){
    #load_img img { width: 109px;  } 
}

@media (min-width: 992px) {
  #load_img {  width: 210px;  margin:0 auto;}
 
  #load_img img span { width: 68px;  }
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
  margin: 0 auto;
}


.btn-option {
  z-index: 9999;
  padding: 50px;
  height: 129px;
  width: 226px;
  font-family: "serif";
  font-size: 16x;
}

.tab-buttons_adds {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/****** display /// Flex  *****/

.d-flex {
display: flex;
}
.justify-content-center {
justify-content: center;
}
.justify-content-space-around {
justify-content:space-around;
}
.justify-content-space-evenly {
justify-content:space-evenly;
}
.justify-content-space-between {
justify-content:space-between;
}
.justify-content-baseline {
justify-content:baseline;
}
.justify-content-end {
justify-content:flex-end;
}
.justify-content-start {
justify-content:flex-start;
}
.justify-content-end {
justify-content:flex-end;
}
.justify-content-stretch {
justify-content:stretch;
}

.align-items-center {
align-items:center;
}

/**** Button margin */
.m-1 { margin:6px } 
.m-2 { margin:10px } 
.m-3 { margin:14px } 
.m-4 { margin:17px }
.m-5 { margin:27px }

.pagination div {
    flex: auto;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
}
.pagination span{
  align-items:center;
  justify-content: flex-end;
}
.pagination {
  align-items:center;
  justify-content: flex-end;
}
.pagination span div{
  align-items: flex-end;
}

.navbar .dropdown-menu>li>a :hover { 
  color: seagreen;
}

.navbar .dropdown-menu>li>a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.user-panel>.image>img  {
  width: 45px;
  height: 44px;
}
